.section-2 {
    .sect2-left-wrap {
        background-color: color(tt_base);
        position: relative;
        width: 75%;
        height: 100%;
        .section2-content {
            @include bp(tablet-sm) {
            }
            h3 {
                color: color(black);
                text-align: left;
                font-weight: 300;
                @include font-rem(27px, 32px);
            }

            .bg-text {
                @include font-rem(480px, 98px);
            }
        }
        .sect2-center-img {
            position: absolute;
            left: 42%;
            bottom: 0;
            img {
                width: 250px;
            }
        }
        .sect2-left-img {
            width: 500px;
            height: 500px;
            position: absolute;
            position: absolute;
            left: -70px;
            top: 72%;
            transform: translate(0%, -50%);
        }
        .sect2-right-img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0%, -50%);
        }
    }
    .sect2-right-wrap {
        width: 25%;
        height: 100vh;
        img {
            height: 100vh;
        }
    }
}
