.section-3 {
    background-color: color(tt_green);
    position: relative;

    .section3-title {
    }

    .section3-menu {
        ul {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding-top: 27px;

            li {
                padding: 0 20px;
                @include font-rem(14px, 14px);
                @include bp(tablet-sm) {
                    padding: 0 5px;
                }
            }
        }
    }

    .section3-heading {
        h2 {
            font-family: "Cormorant", serif;
            @include font-rem(150px, 158px);
            text-transform: capitalize;

            &.head-top {
                text-align: right;
                @include bp(tablet-sm) {
                    text-align: center;
                    padding-top: 90px;
                }
            }
            &.head-bottom {
                text-align: left;
                position: relative;
                left: -20px;
                @include bp(tablet-sm) {
                    text-align: center;
                    left: 0;
                }
            }
            @include bp(tablet-sm) {
                @include font-rem(77px, 83px);
            }
        }
        @include bp(tablet-sm) {
        }
    }

    .section3-image {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 59%;
        img {
            width: auto;
            height: 350px;
            transform: rotate(7.42deg);
            @include bp(tablet-sm) {
                height: auto;
            }
        }
        @include bp(tablet-sm) {
            top: auto;
            bottom: 212px;
        }
    }

    .bottom-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include bp(tablet-sm) {
        padding: 70px 15px;
    }
}
