.section-1 {
    background-image: url("../images/banner1.png");
    background-size: cover;
    height: 100vh;
    // width: 100%;
    background-position: center;
    position: relative;

    .hero-content {
        position: absolute;
        color: #fff;
        // bottom: 50px;
        width: 493px;
        height: auto;
        text-align: left;
        p {
            font-family: "Cormorant", serif;
            @include font-rem(26px, 37px);
            @include bp(tablet-sm) {
                @include font-rem(20px, 38px);
            }
        }
        h2 {
            font-family: "Poppins", sans-serif;
            @include font-rem(60px, 68px);
            @include bp(tablet-sm) {
                @include font-rem(50px, 58px);
            }
        }

        @include bp(tablet-sm) {
            width: 100%;
            position: absolute;
            padding: 42px;
            bottom: 0;
        }
    }

    &:after {
        background: rgba(0, 0, 0, 0.16);
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }

    @include bp(tablet-sm) {
        background-size: cover;
        height: 100vh;
        background-position: center;
        position: relative;
        background-position: 68% 0;
    }
}
