.section-3 {
    background-color: color(tt_green);
    position: relative;

    .section3-title {
        padding-top: 155px;
        h4 {
            @include font-rem(30px, 38px);
        }
        @include bp(tablet-sm) {
            @include font-rem(28px, 38px);
            padding-top: 0;
        }
    }

    .section3-menu {
        ul {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding-top: 27px;

            li {
                padding: 0 20px;
                @include font-rem(14px, 14px);
                @include bp(tablet-sm) {
                    padding: 0 5px;
                }
            }
        }
    }

    .section3-heading {
        h2 {
            font-family: "Cormorant", serif;
            @include font-rem(150px, 158px);
            text-transform: capitalize;

            &.head-top {
                text-align: right;
                @include bp(tablet-sm) {
                    text-align: center;
                }
            }
            &.head-bottom {
                text-align: left;
                position: relative;
                left: -20px;
                @include bp(tablet-sm) {
                    text-align: center;
                    left: -300px;
                }
            }
            @include bp(tablet-sm) {
                @include font-rem(100px, 110px);
            }
        }
        @include bp(tablet-sm) {
            width: 100%;
            white-space: nowrap;
            position: relative;
            left: 0;
        }
    }

    .section3-image {
        position: absolute;
        transform: translate(-50%, 50%);
        left: 50%;
        top: 10%;
        img {
            width: auto;
            height: 350px;
            transform: rotate(7.42deg);
            @include bp(tablet-sm) {
                // height: auto;
            }
        }
        @include bp(tablet-sm) {
            top: 0%;
        }

        .sect3-btn {
            @include bp(tablet-sm) {
                position: absolute;
                top: 50%;
                right: 0;
            }
        }

        @include bp(tablet-sm) {
            position: relative;
            transform: none;
            left: 0;
            top: 0;
            margin: 0 auto;
        }
    }

    .bottom-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        @include bp(tablet-sm) {
            padding-top: 30px;
            order: 3;
        }

        h4 {
            margin-left: 88px;
            @include font-rem(30px, 38px);
            @include bp(tablet-sm) {
                margin-left: 0;
                @include font-rem(20px, 38px);
            }
        }
    }
    @include bp(tablet-sm) {
        padding: 70px 15px;
    }
    &::before {
        position: absolute;
        content: url("../images/Vector.png");
        left: 19%;
        top: 0;
        height: 921px;
        z-index: -1;
        animation: rotate_me 10s infinite linear;
        -webkit-transition: all 5s;
        transition: all 5s;
        -webkit-transform-origin: center center;
        transform-origin: center center;
        @include bp(tablet-sm) {
            content: url("../images/Vector-m.svg");
            height: auto;
            z-index: 0;
            left: 0;
        }
    }
}

@keyframes rotate_me {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
