.section-2 {
    // position: relative;
    .sect2-left-wrap {
        background-color: color(tt_base);
        position: relative;
        width: 75%;
        height: 100%;

        .section2-content {
            position: relative;
            padding: 75px 0;
            left: 20%;

            @include bp(tablet-sm) {
            }
            h3 {
                color: color(black);
                text-align: left;
                font-weight: 300;
                @include font-rem(28px, 32px);
                @include bp(tablet-sm) {
                    @include font-rem(30px, 48px);
                }
            }
            @include bp(tablet-sm) {
                padding: 250px 0;
                left: 23px;
                z-index: 3;
                position: absolute;
            }
        }

        .sect2-center-img {
            position: absolute;
            left: 50%;
            bottom: 0;
            z-index: 3;

            img {
                width: 250px;
                @include bp(tablet-sm) {
                    width: 208px;
                }
            }

            @include bp(tablet-sm) {
                position: absolute;
                right: 0;
                bottom: 15%;
                z-index: 1;
                padding-top: 0;
                left: auto;
            }
        }
        .sect2-left-img {
            z-index: 2;
            width: 500px;
            height: 500px;
            position: absolute;
            left: -70px;
            top: 72%;
            transform: translate(0%, -50%);
            opacity: 1;
            @include bp(tablet-sm) {
                width: 300px;
                height: 200px;
                left: 0;
                top: 0;
                transform: none;
                padding-top: 68px;
                position: absolute;
            }

            img {
                opacity: 1;
            }
        }
        .sect2-right-img {
            position: absolute;
            right: 20px;
            top: 32%;
            transform: translate(0%, -50%);
            z-index: 2;

            img {
                width: 170px;
            }

            @include bp(tablet-sm) {
                position: absolute;
                left: 70px;
                bottom: -38px;
                transform: none;
                z-index: 3;
                top: auto;
                right: auto;
                /* margin-top: 100px; */
                height: auto;
            }
        }

        @include bp(tablet-sm) {
            width: 100%;
            height: 921px;
        }
    }
    .sect2-right-wrap {
        width: 25%;
        height: 100vh;
        img {
            height: 100vh;
            @include bp(tablet-sm) {
                height: 100%;
            }
        }
        @include bp(tablet-sm) {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }

    .bg-text {
        @include font-rem(480px, 98px);
        width: 155%;
        position: absolute;
        z-index: 1;
        left: -145px;
        bottom: 220px;
        mix-blend-mode: difference;
        text-transform: capitalize;
        @include bp(desktop-sm) {
            @include font-rem(236px, 240px);
        }
        @include bp(tablet-sm) {
            mix-blend-mode: initial;
            color: #0000002b;
            @include font-rem(92px, 76px);
            width: 100%;
            position: absolute;
            z-index: 1;
            left: 202px;
            top: 55%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }
    }
}
