// ==========================================================================
//  Site Button Component
//  ==========================================================================

.btn {
    padding: 4px 15px;
    @include font-rem(15px, 24px);
    font-family: $baseFontFamily;
    text-transform: capitalize;
    background-color: transparent;

    // height: 40px;
    // width: 183px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    position: relative;
    overflow: hidden;

    span {
        position: relative;
        // mix-blend-mode: difference;
    }

    &.btn-tran {
        border-radius: 0;
        color: color(white);
        border: 1px solid #fff;
    }

    &::before {
        content: " ";
        background: color(navy-blue);
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:hover {
        color: color(navy-blue);
    }

    &:hover::before {
        transform: translate3d(0, -100%, 0);
    }

    &.round-btn {
        border-radius: 50%;
        background: #cb9f77;
        border: 1px solid #cb9f77;
        @include font-rem(16px, 22px);
        width: 121px;
        height: 121px;
        color: #fff;
        display: flex;

        @include bp(tablet-sm) {
            width: 135px;
            height: 135px;
            display: flex;
            align-items: center;
        }
    }
}
