/* ==========================================================================
  Base Typography Styles
  ========================================================================== */

/* ==========================================================================
   Base Type
   ========================================================================== */
* {
  &::-moz-focus-inner {
    border: 0;
  }

  &:focus,
  &:active,
  &:hover {
    &::-moz-focus-inner {
      border: 0;
    }

    outline: 0;
  }
}

html {
  @include font-rem($htmlFontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  height: 100vh;
  @include bp(tablet-sm) {
    height: 100%;
  }
}
.front-page {
  overscroll-behavior: none;
  width: 300%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  @include bp(tablet-sm) {
    width: 100%;
    display: block;
  }
}

body {
  //@include font-rem($htmlFontSize);
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  letter-spacing: 0.2px;

  p {
    @include font-rem(15px, 19px);
    font-family: $baseFontFamily;
    letter-spacing: 0.2px;
    font-weight: 400;

    @include bp(mobile) {
      @include font-rem(14px, 18px);
    }
  }
}

body,
input,
select,
textarea {
  font-family: $baseFontFamily;
}

/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-style: normal;
  font-family: $baseFontFamily;
  margin-bottom: 0px;
  // @extend %baseSpacing;
}

h1,
.h1 {
  @include font-rem(108px, 140px);
  font-weight: 400;

  @include bp(tablet-sm) {
    @include font-rem(54px, 70px);
  }
}

h2,
.h2 {
  @include font-rem(60px, 68px);
  font-weight: 300;

  @include bp(tablet-sm) {
    @include font-rem(50px, 58px);
  }
}

h3,
.h3 {
  @include font-rem(40px, 48px);
  font-weight: 700;

  @include bp(tablet-sm) {
    @include font-rem(30px, 48px);
  }
}

h4,
.h4 {
  @include font-rem(30px, 38px);
  font-weight: 700;

  @include bp(tablet-sm) {
    @include font-rem(20px, 27px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  word-wrap: break-word;
  word-break: break-word;
}

a {
  color: color(secondary, base);
  transition: 0.3s;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

img {
  max-width: 100%;
}

// section {
//   padding: 100px 0;

//   @include bp(tablet-sm) {
//     padding: 80px 0;
//   }
// }

ul {
  padding: 0;
}

li {
  list-style: none;
}
